@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    background: linear-gradient(135deg, #4067b6, #b53bd3);
    background-attachment: fixed;
}
header{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}
*{
    box-sizing: border-box;
    cursor:default;
}
h1{
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 3rem;
    color: aliceblue;
    box-sizing: border-box;
    text-shadow: .4rem .4rem 0 black;

}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.newTaskNotification{
    font-family: 'Press Start 2P';
    font-size: smaller;
    padding: 1rem;
    display: block;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    box-shadow: 7px 7px;
    border: solid 1px black;
    transition: 0.4s;
    background-color:white;
}

.notificationFadeOut{
    opacity: 0;
}
.notificationСontainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    gap: 0.5rem;
}
.tasksСontainer{
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    box-shadow: 0.7rem 0.7rem;
    background-color: white;
    font-family: 'Press Start 2P';
    font-size: medium;
    border: solid  2px black;
    border-radius: 0.2em;
}

.inputDate{
    background-color: white;
    color: black;
    font-family: 'Press Start 2P';
    transition: transform 0.4s;
    padding: 0.5em;
    cursor: pointer;
}

.taskButton{
    border-radius: .1rem;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P';
    transition: transform 0.4s;
    padding: 0.5em;
    cursor: pointer;
}
.taskButton:hover{
    transform: scale(1.3);
}
form{
    display: flex;
    align-items: center;
    gap: 0.4em;
    background-color: white;
    padding: 0.3rem;
    border: solid  2px black;
    border-radius: 0.2em;
}
.taskList{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 3em;
    padding-right: 1em;
}
.taskName {
    border: solid black 4px;
    background-color: black;
    color: white;
    padding: 0.2em;
    border-radius: .1rem;
    font-family: 'Press Start 2P';
    outline:none;
    width: 20rem;
    height: 2.5em;
    cursor: pointer;
}
.taskName:autofill {
    border: solid black 4px;
    background-color: black;
    font-family: 'Press Start 2P';
}
.taskFilter{
    background-color: black;
    color: white;
    border: none;
    font-family: 'Press Start 2P';
    padding: 0.5em;
    text-align: center;
    outline:none;
    cursor: pointer;
}
.taskItem{
    display: grid;
    gap: 0.4em;

}
.taskText{
    width:75%;
    margin-bottom: 0.5em;
}

.taskDate{
    margin-bottom: 0.5em;
    text-decoration: none;
}
@media screen and (max-width: 793px) {
    form{
        flex-wrap: wrap;
    }
    .taskItem{
        display: block;
    }
    .notificationСontainer{
        width: 60%;
    }
}
ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
ul li::after{
    content:'';
    position: absolute;
    right: 3.5em;
    height: 40px;
    width: 40px;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    cursor: pointer;
}
.completed{
    color: gray;
    text-decoration: line-through;
}
ul li.completed::after{
    background-image: url(./images/checked.png);
    cursor: pointer;
}

#delete{
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.emptylistslide{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 80%;
    opacity: 50%;
}
.emptylistslide > img{
    width: 60%;
}